body{
  margin: 0px;
  padding: 0px;
}
#rect1 {
  width: 100px;
  height: 100px;
  display: table-cell;
  background-color : gray;
  border-radius: 30px;
}
#rect2 {
  width: 100px;
  height: 100px;
  display: table-cell;
  background-color : gray;
  border-radius: 30px;
}
#rect3 {
  width: 100px;
  height: 100px;
  display: table-cell;
  background-color : gray;
  border-radius: 30px;
}
#rect4 {
  width: 100px;
  height: 100px;
  display: table-cell;
  background-color : gray;
  border-radius: 30px;
}
#rect5 {
  width: 100px;
  height: 100px;
  display: table-cell;
  background-color : gray;
  border-radius: 30px;
}
#rect6 {
  width: 100px;
  height: 100px;
  display: table-cell;
  background-color : gray;
  border-radius: 30px;
}
